body{
    margin:0;
    font-family: sans-serif;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height:100vh; 
    background:url("https://images.unsplash.com/photo-1562832135-14a35d25edef?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1545&q=80");
    background-size: cover;
    overflow: hidden;
}
h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    text-align: center;
    color: #0C6C7B ;
}
.clock{
display:flex;
}
.clock div{
    margin:5px
}

.clock span{
    width:100px;
    height: 80px;
    background-color: #C46651;
    opacity: 60%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}
.clock #text{
    height:30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #A82F15;
    opacity: 80%;
}

.clock #ampm{
    position:relative;
    top:80px;
    width:60px;
    height:30px;
    font-size: 20px;
    background-color: #1594A8;
}